---
layout: landing
title: Digitale lespakketten
description: De jeugd inspireren met uw erfgoed, gebied, verhaal of geschiedenis is een mooi streven. Uit onze ervaring werkt het erg goed om kinderen eerst een verhaal te vertellen, voordat ze daadwerkelijk op excursie gaan. Door onze modulaire toolkit kunnen wij uw materiaal eenvoudig en snel omzetten naar een geavanceerd lespakket. Door de modulaire opbouw kunnen wij tevens eenvoudig custom elementen inbouwen, om precies aan uw wensen te voldoen!
categories: page
permalink: digitale-lespakketten/
---

<section>
  <nav class="flex space-between">
    <a href="{{ site.baseurl }}"><img src="/img/alloy-logo.svg"></a>
    <a class="mve-hide" href="/case"><button>Bekijk hier alle cases</button></a>
  </nav>
  <article>
    <section class="parallax flex landing-header vh" style="background: linear-gradient(150deg, #BB7 30%, #BB7 40%, #8A6 100%);">
      <div class="center min-vh">
        <h1>{{page.title}}</h1>
        <h3 class="transform">Verhalen vertellen met pixels</h3>
      </div>
      <img src="/img/landing/{{ page.title | slugify }}-huis.svg" class="parallax-item">
      <img src="/img/landing/{{ page.title | slugify }}-kerk.svg" class="parallax-item">
      <img src="/img/landing/{{ page.title | slugify }}-winkel.svg" class="parallax-item">
      <img src="/img/landing/{{ page.title | slugify }}-school.svg" class="parallax-item">
      <img src="/img/landing/{{ page.title | slugify }}-winkel.svg" class="parallax-item">
      <img src="/img/landing/{{ page.title | slugify }}-school.svg" class="parallax-item">
    </section>
    
    <section class="flex landing-img">
      
      <div class="slider min-vh">
        <img class="device" src="/img/landing/{{ page.title | slugify}}-device.png">
        <div id="owl-example" class="owl-carousel">
          <img src="/img/landing/{{ page.title | slugify}}-header.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-header.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-header.jpg" alt="" />
        </div>
      </div>
      
    </section>
    <section class="parallax flex">
      <div class="inner text">
        <h2 class="center">Vertel verhalen door interactie en pixels.</h2>
        {{ page.description }}
      </div>
      <img src="/img/landing/{{ page.title | slugify }}-bunker.svg" class="parallax-item">
      <img src="/img/landing/{{ page.title | slugify }}-bunker.svg" class="parallax-item">
      <img src="/img/landing/{{ page.title | slugify }}-tank.svg" class="parallax-item">
      <img src="/img/landing/{{ page.title | slugify }}-tank.svg" class="parallax-item">
    </section>
    
    <section class="game flex" style="background: linear-gradient(180deg, #BB7 30%, #BB7 40%, #8A6 100%);">
      <div id="dd_game">
        <div class="dragboard">
          <div class="dropper ui-droppable" data-id="drop_1" data-top="0" data-left="0" data-width="1024" data-height="600" data-keep-moving="false" data-snap-offset="0,250" data-drop-image-size="310,430"></div>
          
          <div class="dropper ui-droppable" data-id="drop_1" data-top="600" data-left="0" data-width="750" data-height="160" data-keep-moving="false" data-snap-offset="0,250" data-drop-image-size="310,430"></div>
          
          <img src="/img/landing/{{ page.title | slugify }}-tank.svg" data-drop-image="/img/landing/{{ page.title | slugify }}-tank_drop.svg" class="dragger" data-id="drag_1" data-top="615" data-left="790" data-width="200" data-height="140">
          
          <div class="dd_overlay"></div>
        </div>
      </div>
    </section>
    <section class="decoration"><img src="/img/landing/{{ page.title | slugify }}-decoration.svg" alt="" /></section>
    
    <section class="flex">
      <div class="inner text">
        <h2 class="center">Toegevoegde waarde van interactie?</h2>
        Door de aanwezigheid van digitale schoolborden in vrijwel ieder klaslokaal, is er een breed scala aan nieuwe mogelijkheden van lesgeven ontstaan. In eerste instantie werden deze functies gebruikt voor materiaal die de docent zou vervangen. Toch bleek de docent niet zo eenvoudig te vervangen.
        
        Onze filosofie draait op het idee van ontdekkend leren. We geloven dat wanneer leerlingen een fenomeen doorkrijgen door iets anders te doen, ze het het beste zullen onthouden. De digitale schoolborden kunnen hier erg in ondersteunen. De leerling gaat samen met de docent op jacht naar het verhaal wat verstopt zit in het digibord.
      </div>
    </section>
    
    <section class="flex">
      <div class="inner flex wrap icons">
        
        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-digibord.svg" alt="" />
          <h2>Digibord</h2>
        </div>
        
        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-ipad.svg" alt="" />
          <h2>iPad</h2>
        </div>
        
        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-desktop.svg" alt="" />
          <h2>Desktop</h2>
        </div>
        
      </div>
    </section>
    
    <section class="flex qoute-box vh">
      <div class="flex qoute">
        <img src="/img/team/ruben-daas.jpg" class="clip" alt="" />
        <div class="qoute-text">
          <h2>Mooi project om kennis te overdragen door ervarning in plaats van vertellen.</h2>
          <h4>Ruben Daas <span>Daas Design</span></h4>
        </div>
      </div>
      <div class="flex qoute">
        <img src="/img/team/ruben-daas.jpg" class="clip" alt="" />
        <div class="qoute-text">
          <h2>Mooi project om kennis te overdragen door ervarning in plaats van vertellen.</h2>
          <h4>Ruben Daas <span>Daas Design</span></h4>
        </div>
      </div>
    </section>
    
    <section class="flex">
      <div class="inner flex wrap icons">
        
        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-click.svg" alt="" />
          <h2>Een Klik</h2>
          <p>Interactie kan worden ingezet voor gelaagdheid, met inzicht achter iedere klik. Docenten kunnen samen met hun leerlingen speuren door de wondere wereld van uw materiaal.</p>
        </div>
        
        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-zoom.svg" alt="" />
          <h2>Zoom op afbeelding</h2>
          <p>Mooie platen met veel detail komen op een digitaal scherm al snel slecht over. Door rond te kunnen speuren, worden zelfs de kleinste schatten uitgelicht.</p>
        </div>
        
        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-drag.svg" alt="" />
          <h2>Drag & Drop</h2>
          <p>Deze methode zorgt ervoor dat leerlingen feeling krijgen met het materiaal. De interactie geeft direct feedback of de opdracht juist is uitgevoerd.</p>
        </div>
        
        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-animation.svg" alt="" />
          <h2>Animatie</h2>
          <p>Door het materiaal op een duidelijke wijze te laten bewegen, kunnen nieuwe inzichten ontstaan.</p>
        </div>
        
        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-slideshow.svg" alt="" />
          <h2>Slideshow</h2>
          <p>Een onmisbare functie in het digitale tijdperk. Vrijwel oneindig inzichten mogelijk in een reeks afbeeldingen.</p>
        </div>
        
        <div class="icon-box alt flex">
          <p>Door ons modulaire systeem kunnen we vrijwel ieder denkbare functionaliteit bouwen. Meestal zal dat lukken met de tools die we klaar hebben liggen. Mochten uw specifieke wensen toch niet aansluiten, zijn wij zeer flexibel om een custom oplossing te ontwikkelen. Speciaal voor u.</p>
        </div>
        
      </div>
    </section>
    
    <section class="flex half-vh" style="background: linear-gradient(150deg, #BB7 30%, #BB7 40%, #8A6 100%);">
      <div class="inner flex space-around">
        <img src="/img/landing/{{ page.title | slugify }}-rode-kruis.svg" alt="" />
        <img src="/img/landing/{{ page.title | slugify }}-plein-c.svg" alt="" />
        <img src="/img/landing/{{ page.title | slugify }}-critical-mass.svg" alt="" />
      </div>
    </section>
    <section class="vh flex">
      <div class="checklist">
        <ul>
          <li class="wow slideInLeft" data-wow-duration="5s" data-wow-delay="1s">pro’s voor aanbieders</li>
          <li>jouw materiaal bereikt een breder publiek</li>
          <li>kinderen komen langs</li>
          <li>leerlingen kennen de basis al voor bezoek</li>
          <li>voor ieder budget iets te maken</li>
        </ul>
        <ul>
          <li>pro’s voor scholen</li>
          <li>het is goed voor het onderwijs</li>
          <li>eenvoudig voor docenten</li>
          <li>geen ingewikkelde ICT</li>
          <li>het materiaal past binnen het curriculum</li>
        </ul>
      </div>
      {% include contact-from.html %}
    </section>
    <section>
      {% include footer-alt.html %}
    </section>
  </article>
</section>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var owl = $('.owl-carousel');
  owl.owlCarousel({
    autoplay:true,
    autoplayTimeout:7500,
    loop:true,
    margin:0,
    nav:false,
    center:true,
    responsive:{
      0:{
        items:1
      },
    }
  });
});
</script>
