<form action="https://getsimpleform.com/messages?form_api_token=17785a99c890b5ed234623b44589c226" method="post">
  <h3>Contact formulier</h3>
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <!-- <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' /> -->
  <!-- all your input fields here.... -->
  <div class="form-row">
    <input type="text" name="email" required>
    <label alt="Label Text" data-placeholder="Email"></label>
  </div>
  <div class="form-row">
    <input type="text" name="phone" required>
    <label alt="Label Text" data-placeholder="Telefoon"></label>
  </div>
  <div class="form-row">
    <textarea type="text" name="message" required></textarea>
    <label alt="Label Text" data-placeholder="Bericht"></label>
  </div>
  <input type='submit' value='Verzend' />
</form>
