form {
  background-color: $sub2-color;
  padding: 40px;
  
  .form-row {
    position:relative;
    
    textarea,
    input[type="text"] {
      box-sizing:border-box;
      width: 100%;
      padding: 15px;
      border: 0;
      margin-bottom: 30px;
      transition:all 0.5s ease-in-out;
      outline:0;
      
      + label[data-placeholder] {
        pointer-events:none;
        
        &:after {
          content:attr(data-placeholder);
          display:block;
          position:absolute;
          top: 30%;
          left:0.5rem;
          transform: translate(0%, -80%);
          transition:all 0.1s ease-in-out;
          background-color: $alt-color;
          padding: 4px 8px;
          height: 10px;
          line-height: 1 !important;
        }
        
      }
      
      &:focus,
      &:valid {
        
        + label[data-placeholder] {
          &:after {
            transform: translate(-5%, -220%);
          }
          
        }
        
      }
      
    }
    
  }
}
form h3 {
  margin-bottom: 30px;
  color: $alt-color;
}
input[type="submit"] {
  border: 0;
  padding: 15px 45px;
  float: right;
  background-color: $base-color  ;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
textarea {
  height: 100px;
}
form .form-row textarea + label[data-placeholder]:after {
  top: 17%;
}
