---
layout: default
---
<section>
  <article>
    <section class="case-header half-vh cover" style="background: url({{site.baseurl}}/img/case/{{ page.title | slugify }}-1.jpg);"></section>
    <section class="flex case-text">
      <div class="title-container sub min-vh">
        <div class="intro center">
          <h1>{{page.title}}</h1>
          <h5>{{page.excerpt}}</h5>
        </div>
      </div>
    </section>
    {{ content }}
    <section class="case-header half-vh cover" style="background: url({{site.baseurl}}/img/case/{{ page.title | slugify }}-{{ page.image }}.jpg);"></section>
  </article>
</section>
