{% include head.html %}
<link rel="stylesheet" type="text/css" href="/css/landing.css">
</head>
<body class="{{ page.layout }} {{ page.title | downcase }} {{ page.categories }}">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="main">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
  {% include embed-google-analytics.html %}
</body>

</html>
